# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# CI
Jenkinsfile
.github/

# Binaries
*.exe
*.out
go-backend-service

# Test artifacts
coverage.out
*.test

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docs
README.md
*.md
